[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "colors/Smyck-Color-Scheme"]
	path = colors/Smyck-Color-Scheme
	url = https://github.com/hukl/Smyck-Color-Scheme.git
[submodule "colors/solarized"]
	path = colors/solarized
	url = https://github.com/altercation/solarized.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/Gist"]
	path = vim/bundle/Gist
	url = https://github.com/vim-scripts/Gist.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "colors/tomorrow-theme"]
	path = colors/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/jellybeans-vim"]
	path = vim/bundle/jellybeans-vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/mw-utils"]
	path = vim/bundle/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "tmux/colors/tmux-colors-solarized"]
	path = tmux/colors/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/tmux.vim"]
	path = vim/bundle/tmux.vim
	url = https://github.com/zaiste/tmux.vim.git
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = https://github.com/jcf/vim-latex.git
[submodule "vim/bundle/vim-ps1"]
	path = vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim/bundle/vagrant-vim"]
	path = vim/bundle/vagrant-vim
	url = https://github.com/smerrill/vagrant-vim.git
